extends layout
block content
    div

    div(style="width: 400px; margin: auto;")
        h2.mainTableHeader Add a new user
        form(method="post" action="/adduser").table
            div.loginRow
                label Login
                input(type="text" name="username")
            div.loginRow
                label Password
                input(type="password" name="password")
            div.loginRow
                label Email
                input(type="email" name="email")
            div.loginRow
                input.button(type="submit" value="Add User")
                div