
/* Priority Scope Colors */
.scope-item .priority.norm {
    background-color: yellow;
}

.scope-item .priority.high {
    background-color: lightcoral;
}

.scope-item .priority.low {
    background-color: lightgreen;
}

/* App Styles Beging */
html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/*.header {*/
    /*flex: 60px 0 0;*/
/*}*/

/*.header img {*/
    /*margin: 2.5px;*/
/*}*/

/*.header .nav {*/
    /*float: right;*/
    /*height: 100%;*/
    /*display: table;*/
    /*margin-right: 10px;*/
/*}*/

/*.header .nav .links {*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
/*}*/

#navBar {
    background-color: ghostwhite;
    width: 220px;
    float: left;
    height: 100vh;
    display: inline-block;
    position: fixed;
}

#content {
    width: calc( 100% - 220px );
    display: inline-block;
    margin-left: 220px;
}

#navBar .logo {
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
}

#navBar a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: block;
    color: #23689c;
    margin-top: 10px;
}

.content {
    height: calc(100% - 60px);
    flex: 1 0 0;
}

.whiteboard {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

.flex-col {
    display: flex;
    flex-flow: column;
}

.border-left {
    border-left: solid 1px black;
}

.flex-col-border {
    border-right: solid 1px black;
    border-bottom: solid 1px black;
}

.flex-row {
    display: flex;
    display: -moz-flex;
    -moz-flex-flow: row;
    flex-flow: row;
}

.flex-item-single {
    flex: 1 0 0;
    -moz-flex: 1 0 0;
}

.flex-item-double {
    flex: 2 0 0;
    -moz-flex: 2 0 0;
}

.flex-item-triple {
    flex: 3 0 0;
    -moz-flex: 3 0 0;
}

.col-header {
    text-align: center;
    background-color: #23689c;
    border-bottom: solid 1px black;
    padding: 3px;
    font-size: 14px;
    color: white;
}

.col-body {
    flex: 1 0 0;
    overflow-y: hidden;
}

.scope-item {
    width: calc(100% - 8px);
    height: 28px;
    background-color: #c4d3df;
    /*text-align: center;*/
    color: black;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 4px;
    margin-left: 4px;
    position: relative;
}

.flex-wrap-wide > .scope-item {
    width: calc(50% - 8px);

}

.scope-item .text-block {
    display: inline-block;
    margin-left: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.scope-item .serial {
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}

.scope-item .priority {
    position: absolute;
    float: left;
    display: inline-block;
    width: 10px;
    height: 28px;
}

.scope-item .hospital {
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
}

.flex-wrap-wide {
    display: flex;
    flex-flow: column wrap;
}

.table {
    display: table;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.tableHeader {
    text-align: center;
    background-color: #23689c;
    border-bottom: solid 1px black;
    padding: 3px;
    font-size: 14px;
    color: white;
    display: table-row;
}

.table > * {
    display: table-row;
}

.table > * > * {
    display: table-cell;
    text-align: center;
    padding-bottom: 1px;
}
